body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,#474444,#496681,#687466,#CD8D7B,#fbc490);
    background-size: 300%,300%;
    background-repeat:repeat;
    animation: colors 7s ease infinite;
}
@keyframes colors{
    0%{
        background-position: 0%,50%;
    }
    50%{
        background-position: 100%,50%;
    }
    100%{
        background-position: 0%,50%;
    }
}

audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    
    
}
#h1{
    margin:1cm;
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight:bold;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: relative;
    opacity: 0;
    animation: texto 0s 0.5s both;
    
}
#div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    width: 100vw;
}
#divv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 0.5cm;
    height: 5vw;
    

}
#divv::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    transform: translateX(-100%);
    border-radius: 8px;
    animation:width 0.7s  both ,anima .7s 0.7s both ;
}
@keyframes texto{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes anima{
    from{
        transform: translateX(0);

    }
    to{
        transform:translateX(100%);

    }
}

#livros{
    display: flex;
    align-items: center;
    justify-content: center;
}
#oh2{
    margin-top: 1cm;
    font-family: sans-serif;
    font-size: 3vw;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: relative;
    opacity: 0;
    animation: texto 2s both;

}

#zero{
    width: 200px;
    animation: sombra 7s ease infinite;
    
    
}
@keyframes sombra{

    0%{
        box-shadow: 7px -7px 5px black;
    }
    50%{
        box-shadow: -7px 7px 5px black;
    }
    100%{
        box-shadow: 7px -7px 5px black;
    }
}

#Scroll{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 370px;
    overflow:scroll;
    margin:1cm;
}
